<div class="box">
	<h2>Create a New Team</h2>
	<%= form_for(@team, :format => :html, :html => {:id => "new_team_html"}) do |f| %>
	  <div class="field left">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>
	  <div class="field left">
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	  </div>
	  <div class="field left">
	    <%= f.label :league %><br />
	    <%= f.text_field :league %>
	  </div>
	  <div class="actions right">
	    <%= f.submit "Create Team", :class => "button" %>
	  </div>
	  <div id="cl"></div>
	<% end %>
</div>