<div class="box">
  <center>
    <h2>My Team: <%= @team.name %></h2>
    <h3>Playing at <%= @team.location %> in the <%= @team.league %> league.</h3>
    <%= render 'pages/team_selector' %>
    <% if captain? %>
      <small><%= link_to "create a new team", new_team_path %> | <%= link_to "edit #{@team.name}", edit_team_path(@team) %></small>
    <% end %>
  </center>
</div>
<div class="schedule box">
  <h3>Schedule
    <small><%= link_to " (ical)", team_path(@team, :format => :ics), :title => "Export to iCal", :alt => "Export to iCal" %></small>
    <small style="float:right">
      <%= link_to "add games", "#", :id => "add_games" if captain? %>
    </small>
  </h3>
  <div id="add_games_form" style="display:none;">
    <hr />
    <%= form_for(@game) do |f| %>
      <div class="field left"><%= f.label :start_at, "Start Date and Time" %><br />
        <%= f.datetime_select :start_at, :minute_step => 5, :order => [:month, :day, :year, :hour, :minute] -%></div>
      <div class="actions right">
        <%= f.submit "Schedule Game", :class => "button" %></div>
      <div id="cl"></div>
    <% end %>
  </div>
  <div id="current_games">
    <% if @games.size > 0 %>
      <%= render :partial => "pages/game_list" %>
    <% end %>
  </div>
</div>
<div class="roster box">
  <h3>Roster<small style="float:right">
    <% if captain? %>
      <%= link_to "add players", "#", :id => "add_players" %>
    <% end %></small></h3>
  <div id="add_players_form" style="display:none;">
    <hr />
    <%= form_for @player, :as => :user, :url => invitation_path(:user) do |f| %>
      <div class="field left"><%= f.label :name %><br />
      <%= f.text_field :name %></div>

      <div class="field left"><%= f.label :email %><br />
      <%= f.text_field :email %></div>

      <div class="actions right"><%= f.submit "Invite", :class => "button" %></div>
    <% end %>
    <div id="cl"></div>
  </div>
  <% if @players.size > 1 %>
  <hr />
  <table width="100%">
    <thead style="text-align:left;">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% for player in current_team.users %>
        <% unless player == current_user %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.phone %></td>
          <td><%= player.email %> 
            <% if player.invited? %>
              <span id="pending"> <%= link_to "pending", resend_invitation_team_path(player), :onclick => "return confirm('Are you sure? This will send another email invitation to this player.');", :alt => "Resend Invitation Email", :title => "Resend Invitation Email" %></span>
            <% end %>
            <% if current_user.captain? %>
              <td class="zero"><%= button_to "X", remove_player_team_path(player), :onclick => "return confirm('Are you sure? This will remove them from this team and take the games off their schedule.');", 
              :class => "remove", :alt => "Remove player from team", :title => "Remove player from team" %></td>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end -%>
</div>