<!DOCTYPE html>
<html>
<head>
  <title>alfiesteam</title>
  <link  href="//fonts.googleapis.com/css?family=Gruppo:regular" rel="stylesheet" type="text/css" >
  <%= stylesheet_link_tag "style" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<center>
		<div id="mobile_logo"><b><%= link_to "alfieste.am", "/" %></b></div>
		<div class="mobile_box">
			<h2>Sign in</h2>

			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

			  <p><%= f.label :email %><br />
			  <%= f.email_field :email %></p>

			  <p><%= f.label :password %><br />
			  <%= f.password_field :password %></p>

			  <% if devise_mapping.rememberable? -%>
			    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
			  <% end -%>

			  <p><%= f.submit "Sign in", :class => "button" %></p>
			<% end %>
		</div>
		<div class="mobile_box">
			<h2>Help</h2>
			<%= render :partial => "devise/shared/links" %>
		</div>
	</center>
</body>
</html>