<!DOCTYPE html>
<html>
<head>
  <title>alfiesteam</title>
  <link  href="//fonts.googleapis.com/css?family=Gruppo:regular" rel="stylesheet" type="text/css" >
  <%= stylesheet_link_tag "style" %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<center>
	<div id="mobile_logo"><b><%= link_to "alfieste.am", "/" %></b></div>
	<div class="mobile_box">
		<% if notice %><div id="notice"><%= notice %></div><% end %>
    	<% if alert %><div id="alert"><%= alert %></div><% end %>
		<h2><%= @team.name %> has a game on <%= @game.start_at.strftime("%A, %B %e at %l:%M%p") %>.</h2>
		<h2>Will you make it?</h2>
			<table style="text-align:center;">
				<% if @game.games_users.where(:user_id => current_user.id).first.attending == nil %>
					<tr>
						<td><%= button_to "Yes", attending_game_path(@game), :class => "button" %></td>
						<td><%= button_to "No", not_attending_game_path(@game), :class => "button" %></td>
					</tr>
				<% else %>
					<tr>
						<td><%= @game.games_users.where(:user_id => current_user.id).first.attending ? (button_to "Attending", not_attending_game_path(@game), :title => "Click to change attendance", :alt => "Click to change attendance", :class => "button") : (button_to "Not Attending", attending_game_path(@game), :title => "Click to change attendance", :alt => "Click to change attendance", :class => "button") %></td>
					</tr>
					<tr>
						<td style="font-size:10px;">Press again to change attendance</td>
					</tr>	
				<% end %>
			</table>
			<hr />
			<h3>Players Attending: <%= @game.games_users.where(:attending => true).count %></h3>
			<table>
				<tr><th>Player</th><th>Attending?</th></tr>
				<% if @players %>
				  <% for player in @players %>
				    	<tr>
							<td><%= player.name %></td>
							<% if @game.games_users.where(:user_id => player.id).first.attending == nil %>
								<td>No response yet</td>
							<% else %>
								<td><%= @game.games_users.where(:user_id => player.id).first.attending ? "Yes" : "No" %></td>
							<% end %>
						</tr>
				  <% end %>
				<% end %>
			</table>
		<% if captain? %>
			<hr />
			<smaller><%= link_to "edit game time", edit_game_path(@game) %></smaller>
		<% end %>
	</div>
</center>
</body>
</html>